#app-content {
  background-color: tan;
  height: 100vh;
  width: 100vw;
}

main {
  position: absolute;
  display: flex;
  justify-content: center;
  top: 4vh;
  left: 0;
  height: 96vh;
  width: 100vw;
}