button {
    margin-top: 1.5vh;
    padding: 0.5vh 0.5vw;
}

.err-box {
    background-color: rgba(150, 0, 0, .5);
    height: 8vh;
    width: 12vw;
    text-align: center;
}

form {
    display: flex;
    flex-direction: column;
    margin-top: 4vh;
    background-color: white;
    height: fit-content;
    padding: 2vh 2vw;
}